.vs/
Calc24Server/CMakeCache.txt
Calc24Server/CMakeFiles/
Calc24Server/Makefile
Calc24Server/calc24Server
Calc24Server/cmake_install.cmake
v2/CMakeCache.txt
v2/CMakeFiles/
v2/Makefile
v2/cmake_install.cmake
